sudo: false
language: python
cache: pip

matrix:
  include:
    - python: 3.5
      env: TOX_ENV=py35
    - python: 3.6
      env: TOX_ENV=py36
    - python: 3.5
      env: TOX_ENV=lint

install:
    - pip install tox

script: tox -e $TOX_ENV

after_success:
  # Submit data from .coverage to coveralls on success
  - pip install coveralls
  - coveralls
